@model IEnumerable<AdventureWorks.Modelo.SalesOrderHeader>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    $(function () {
        $("#IngreseNumeros").hide();
        $("#vertodos").click(
           function() {
               $("#IngreseNumeros").hide();
           });
        $("#total").click(
          function () {
              $("#IngreseNumeros").show();
          });
        $("#customer").click(
          function () {
              $("#IngreseNumeros").show();
          });
        $("#fecha").click(
          function () {
              $("#IngreseNumeros").hide();
          });
       });
</script>



   <h2>Consultas</h2>

    <div>
        @using (Html.BeginForm("Index", "Home"))
        {
            <div>
                <span>Consultar Todos</span> <input type="radio" name="condicion" value="Ver Todos" id="vertodos" />
            </div>
            <div>
                <span>Consultar Por Total</span> <input type="radio" name="condicion" value="Total" id="total" />
            </div>
                <div>
                    <span>Consultar Por Customer ID</span> <input type="radio" name="condicion" value="Customer" id="customer" />
                </div>
                <div>
                    <span>Consultar Por Fecha</span> <input type="radio" name="condicion" value="Fecha" id="fecha" />
                </div>
                <input type="text" id="IngreseNumeros" name="Consulta" /><span> </span><input id="btConsultar" name="btConsultar" type="submit" value="Consultar" />

                }


            </div>
    <table class="table" align="center">
        <tr>
            <th align="center">
                @Html.DisplayNameFor(model => model.RevisionNumber)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.SalesOrderNumber)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.ShipMethod)
            </th>
            <th align="center">
                @Html.DisplayNameFor(model => model.TotalDue)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.RevisionNumber)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.SalesOrderNumber)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.ShipMethod)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.TotalDue)
                </td>
            </tr>
        }

    </table>
