@model IEnumerable<AdventureWorks.Modelo.SalesOrderDetail>

@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

    $(function () {
        $("#IngreseNumeros").hide();
        $("#vertodos").click(
           function() {
               $("#IngreseNumeros").hide();
           });
        $("#total").click(
          function () {
              $("#IngreseNumeros").show();
          });
        $("#product").click(
          function () {
              $("#IngreseNumeros").show();
          });
        $("#cantidad").click(
          function () {
              $("#IngreseNumeros").show();
          });
       });
</script>

<h2>Order Details</h2>

@using (Html.BeginForm("Index1", "OrderDetail"))
{
    <div>
        <span>Consultar Todos</span> <input type="radio" name="condicion" value="Ver Todos" id="vertodos" />
    </div>
            <div>
                <span>Consultar Por Total</span> <input type="radio" name="condicion" value="Total" id="total" />
            </div>
            <div>
                <span>Consultar Por Product ID</span> <input type="radio" name="condicion" value="Product" id="product" />
            </div>
                <div>
                    <span>Consultar Por Cantidad</span> <input type="radio" name="condicion" value="Cantidad" id="cantidad" />
                </div>
                <input type="text" id="IngreseNumeros" name="Consulta" /><span> </span><input id="btConsultar" name="btConsultar" type="submit" value="Consultar" />

}

<table class="table" align="center">
    <tr>
        <th align="center">
            @Html.DisplayNameFor(model => model.OrderQty)
        </th>
        <th align="center">
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th align="center">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th align="center">
            @Html.DisplayNameFor(model => model.LineTotal)
        </th>
        <th align="center">
            @Html.DisplayNameFor(model => model.SalesOrderHeader.SalesOrderNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesOrderHeader.SalesOrderNumber)
        </td>
    </tr>
}

</table>
